a span {
  font-family: 'Comic Sans MS',Cursive;
  line-height: 100px;
  text-decoration: none;
  font-weight: bold;
  color: #050505;
  font-size: 55px;
}

#name-and-slogan #site-slogan {
  font-size: 22px;
  color: #121112;
  text-decoration: underline;
  font-family: 'Comic Sans MS',Cursive;
}

li a {
  font-family: 'Comic Sans MS',Cursive;
}

.section h1 {
  font-family: 'Comic Sans MS',Cursive;
}

.form-item label {
  font-family: 'Comic Sans MS',Cursive;
}

.form-item .description {
  font-family: 'Comic Sans MS',Cursive;
}

div .form-item {
  font-family: 'Comic Sans MS',Cursive;
}

div .form-submit {
  font-family: 'Comic Sans MS',Cursive;
}

